<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rainfall Predictor</title>
    <link rel="stylesheet" href={{url_for('static',filename='style1.css')}}>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
  </head>
  <body>

    <section>
      <input type="checkbox" id="check">
      <header>
        </div>
        <h2><a href="#" class="logo">Rainfall Predictor</a></h2>
        <div class="navigation">
          <a href="#">Home</a>
          <a href="#about">About</a>
          <a href="#dashboard">Dashboard</a>
          <a href="#info">Developer</a>
          <a href="/predict">Predictor</a>
        </div>
        <label for="check">
        <i class="fas fa-bars menu-btn"></i>
        <i class="fas fa-times close-btn"></i>
        </label>
      </header>
      <div class="content" style="margin-top: 8%;">
        <div class="info">
          <h2>Plant Trees <br><span>Save Rain</span></h2>
          <p> "Plant trees to bring the rains and get rid of the summer's heat.” - Trees help reduce and moderate the temperature and climate, which is why it is so important that we have more of them</p>
          <a href="#about" class="info-btn">More info</a>
        </div>
      </div>
    </section>

    <section id="about">
      <h2>About Rainy Brain</h2>
      <p class="about-content" style="text-align: center;">Rainfall Predictor is a web app which has 
      a Machine Learning model running at the back. The purpose of developing this app is to 
      predict whether it will rain the next day or not. This model is based on the Rain Prediction
      in Nepal dataset. The codes for this project can be checked in <a href="https://github.com/sujaldangal08/FinalYearProject" style="color: black; font-weight: bold;">github repo</a>. 
      
      </p>
    </section>

    <section id="dashboard">
      <h2>Dashboard</h2>
      <p> 
        
      </p>
      <img class="dashboard-image" src="../static/dashboard.png" alt="1">
      <div>
        <img src="../static/1.png" alt="1">
        <img src="../static/3.png" alt="3">
        <img src="../static/4.png" alt="4">
        <img src="../static/5.png" alt="5">
        <img src="../static/6.png" alt="6">
        <img src="../static/7.png" alt="7">
        <img src="../static/8.png" alt="8">
        <img src="../static/9.png" alt="9">
      </div>
    </section>
    
    <section id="info">
      <div>
        <img src="../static/vasanth1.png" alt="Vasanth">
      </div>
      <div>
        <h2>Developers</h2>
        <p class="about-content"> 


        </p>
      </div>
    </section>

    <footer>
      <p>
        Developed by Orchidian
      </p> 
    </footer>

  </body>
</html>
