<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href={{url_for('static',filename='predictor.css')}}>
    <title>Rain Prediction</title>
</head>
<body>
    <section id="prediction-form">
        <form class="form" action="/predict", method="POST">
            <h1 class="my-3 text-center">Predictor</h1>
            <div class="row">
                <div class="col-md-6 my-2">
                    <div class="md-form">
                        <label for="Date" class="date">Date</label>
                        <input type="date" class="form-control" id="Date" name="Date">
                    </div>
                </div>
                <div class="col-md-6 my-2">
                    <div class="md-form">
                        <label for="Location" class="date">Location</label>
                        <input type="text" class="form-control" id="Location" name="Location">
                    </div>
                </div>
                <div class="col-md-6 my-2">
                    <div class="md-form">
                        <label for="min_temp" class="mintemp"> Minimum temprature</label>
                        <input type="text" class="form-control" id="min_temp" name="min_temp">
                    </div>
                </div>
                <div class="col-md-6 my-2">
                    <div class="md-form">
                        <label for="max_temp" class="maxtemp">Maximum Temperature</label>
                        <input type="text" class="form-control" id="max_temp" name="max_temp">
                    </div>
                </div>
                <div class="col-md-6 my-2">
                    <div class="md-form">
                        <label for="Rainfall" class="Rainfall">Rainfall</label>
                        <input type="text" class="form-control" id="Rainfall" name="Rainfall">
                    </div>
                </div>
                <div class="col-md-6 my-2">
                    <div class="md-form">
                        <label for="Humidity" class="humidity">Humidity </label>
                        <input type="text" class="form-control" id="Humidity" name="Humidity">
                    </div>
                </div>
                <div class="col-md-6 my-2">
                    <div class="md-form">
                        <label for="RainToday" class="raintoday" name="RainToday">Rain Today</label>
                        <select class="RainToday" id="RainToday" name="RainToday" aria-label="Rain Today">
                            <option selected>Did it Rain Today</option>
                            <option value= 1>Yes</option>
                            <option value= 0>No</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 my-2 d-flex align-items-end justify-content-around">
                    <button type="submit" class="btn btn-info button" style="margin-left: 100%;">Predict</button>
                </div>
            </div>
        </form>
    </section>
    <div>
         <h1><center> {{ prediction }} </center></h1>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>







